body {
    font-family: Roboto Condensed;
    font-style: italic;
    color:black;
   /* background-color: #C0C0C0; */
    background-image: url("lookism2.jpg");
    background-repeat: no-repeat;
    height: 300px;
}

h2 {
    color: darkgreen;
            text-decoration: underline;
}

.main-title {
    color:red;
}

h1 {
    text-align: center;
    letter-spacing: 5px;
}

